<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nana">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nana"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.Nana"/>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChatActivity"
            android:exported="false"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.Nana.NoActionBar" />
        <activity
            android:name=".activities.SelectedActivity"
            android:exported="false"
            android:label="SelectedActivity"
            android:theme="@style/Theme.Nana" />
        <activity
            android:name=".activities.PublicationActivity"
            android:exported="false"
            android:label="@string/title_activity_main_publication"
            android:theme="@style/Theme.Nana" />
        <activity
            android:name=".activities.DetailPublicationActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.Nana" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.Nana" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:label="LoginActivity"
            android:theme="@style/Theme.Nana" />
    </application>

</manifest>